<h1>Conoce a los inkunianos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Habilidades</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.skills %></td>
    <td><%= link_to 'Ver perfil', member %></td>
    <td><%= link_to 'Editar', edit_member_path(member) %></td>
    <td><%= link_to 'Eliminar', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo miembro', new_member_path, :class => "link", :id => "new_member" %>
